<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alfr3d"
    android:versionCode="1"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission
        android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.alfr3d.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alfr3d.MainAlfr3d"
            android:label="@string/app_name"
            android:parentActivityName="com.alfr3d.SplashActivity">
        </activity>
        <activity
            android:name="com.alfr3d.CallResponse"
            android:label="@string/title_activity_call_response"
            android:parentActivityName="com.alfr3d.MainAlfr3d" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfr3d.MainAlfr3d" />
        </activity>
        <activity
            android:name="com.alfr3d.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.alfr3d.MainAlfr3d" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfr3d.MainAlfr3d" />
        </activity>
        <activity
            android:name="com.alfr3d.VideoActivity"
            android:label="@string/title_activity_video"
            android:parentActivityName="com.alfr3d.MainAlfr3d" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.alfr3d.MainAlfr3d" />
        </activity>
    </application>

</manifest>
